@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  .active {
    color: #4d869c; /* Hoặc bất kỳ mã màu nào bạn chọn */
    text-decoration: underline;
  }
}
